* {
    font-family: 'Roboto Mono', monospace;
    background-color: thistle;
}

/* center img */
img {
    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.par {
    font-size: 2.9vmin;
}

.timer {
    font-size: 6vw;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

/* center page horizontally and vertically  */
div.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
